@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #4c4c4c;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: -10px;
    color: white;
}

#nothing-found {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
}

#more {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px auto;
}

#more:hover {
    border: 1px solid #888;
}

h1 {
    font-size: 4rem;
}

#text-in-head {
    text-align: center;
    color: white;
}

#input-field {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

#search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1113;
    height: 50px;
    border-radius: 10px;
}

#search-field:hover {
    border: 1px solid #888;
    background-color: #666666;
}

.searchterm {
    margin: 2px;
    padding-left: 10px;
    width: 220px;
    height: 30px;
    border-radius: 6px;
    color: #9DBFAF;
}

.searchterm:focus {
    color: #00B4CC;
}

#submit-button {
    margin: 2px;
    padding: 0;
    width: 40%;
    height: 32px;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    /* cursor: pointer; */
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    #head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0px auto;
    }

    #input-field {
        margin-top: 70px;
        ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
    }

    #search-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 188px;
        border-radius: 10px;
    }

    .searchterm {
        margin: 2px;
        padding-left: 10px;
        width: 96%;
        height: 30px;
        border-radius: 6px;
        color: #9DBFAF;
    }

    .searchterm:focus {
        color: #00B4CC;
    }

    .file {
        color: #fff;
        background-color: #4d5154;
        border-color: #343a40;
        width: 96%;
        height: 45px;
    }

    #submit-button {
        position: relative;
        top: 10px;
        margin: 2px;
        padding: 0;
        width: 40%;
        height: 32px;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        /* cursor: pointer; */
        font-size: 16px;
    }
}

.file {
    color: #fff;
    background-color: #4d5154;
    border-color: #343a40;
    width: 96%;
    height: 45px;
}

select {
    margin: 2px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

#container {
    padding-top: 50px;
}

.results-container {
    margin: 50px 80px;
    /* margin-left: 80px; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    color: #000;
    width: 90%;
    position: relative;
    height: auto;
}

div.gallery {
    margin: 10px 0 10px 10px;
    border: 1px solid #444;
    width: 283px;
    text-align: center;
    transition: ease .3s;
}

div.gallery:hover {
    border: 1px solid #fff;
}

div.gallery img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: -1;
}

.desc {
    background-color: rgba(1, 10, 67, .3)
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
}

#maske {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* display: none; */
}

#closeX {
    position: sticky;
    right: 30px;
    text-align: right;
    margin: 10px 20px 0 0;
}

#close-button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

#popup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#popup p {
    margin: 0;
    padding: 0;
}

#popup #dialog {
    font-family: 'Segoe UI Light', sans-serif;
    position: fixed;
    /* left: 0;
    top: 0; */
    padding: 10px;
    margin-top: -40px;
    width: 70%;
    height: 650px;
    /* display: none; */
    z-index: 9999;
    border-radius: 15px;
    text-align: center;
    background-color: #eaebd8;
    overflow-y: auto;
}

#popup_icerik {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    text-align: center;
}

#popup_icerik img {
    width: auto;
    max-height: 300px;
    object-fit: cover;
}

#comment-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#show-comments {
    font-size: 18px;
    /* font-weight: bold; */
}

#commentbox {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    margin: 5px;
    background-color: ghostwhite;
    border-radius: 21px;
}

#commentbox p {
    margin: 5px 10px;
}